body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: silver;
}

strong {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: small;
}

#content {
    opacity: 0;
}

#final {
    cursor: crosshair;
}

#oPhoto {
    display: none;
}

#oFile {
    float: left;
}