body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#score {
    width: 100%;
    font-size: xx-large;
    padding: 0.25em;
}

#info {
    font-weight: bold;
    padding: 1em;
    height: 50px;
}

#credit {
    font-size: x-small;
}